@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: whitesmoke;
  margin-top: 100px;
  overflow-x: hidden;
  font-family: mo;
}

body main {
  margin: 150px auto auto auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav .navLogo {
  margin-right: auto;
}
nav .navLogo img {
  height: 100px;
  width: auto;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 2.5rem;
  gap: 2rem;
}
nav ul li {
  list-style: none;
  width: fit-content;
  height: 1.5rem;
}

nav ul li .cartIcon {
  height: 1.5rem;

  width: auto;
  cursor: pointer;
}

nav ul li .itemCount {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 15px;
  right: 35px;
  background-color: red;
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 1rem;
  text-align: center;
}

body main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  position: relative;
  img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
  }
}

body main .card .card-body .card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
body main .card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

body main .card .card-body .btn-primary {
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3e6ae1;
  color: white;
  border: none;
  cursor: pointer;
}
