@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: whitesmoke;
  margin-top: 100px;
  overflow-x: hidden;
  font-family: mo;
}

body main {
  margin: 150px auto auto auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

body div#root header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav div.navLogo {
  height: 100%;

  display: flex;
  align-items: center;
  text-align: center;
}
nav div.navLogo img {
  height: 100%;
  width: auto;
  filter: brightness(0) invert(1); /* Cambia la imagen a blanca */
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul {
  display: flex;

  align-items: center;
  height: 100%;

  gap: 2rem;
  margin: 0;
  margin-right: 2.5rem;
}

nav ul li {
  list-style: none;
  width: fit-content;
  height: 1.5rem;
}

nav ul li .cartIcon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

nav ul li .itemCount {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 15px;
  right: 110px;
  background-color: red;
  color: white;
  font-size: 1rem;
  border-radius: 50%;
  padding: 2px 6px;
  text-align: center;
}

body main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

body main .card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

body main .card .card-body .card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

body main .card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

body main .card .card-body .btn-primary {
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3e6ae1;
  color: white;
  border: none;
  cursor: pointer;
}

body div#root header nav ul li div.dropdown .dropdown-toggle.btn.btn-success {
  background-color: #191916;
  border: none;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.dropdown-menu.show {
  background-color: #191916;
}

div.show.dropdown div.dropdown-menu.show a.dropdown-item {
  color: whitesmoke;
}

div.show.dropdown div.dropdown-menu.show a.dropdown-item:hover {
  background-color: #0d6efd;
}

header nav form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav form div.mb-3.input-group {
  margin-left: 250px;
  width: 600px;
  height: 2rem;
}

header nav form div.mb-3.input-group input {
  height: 100%; /* Asegura que el input ocupe toda la altura del contenedor */
  border: none; /* Elimina el borde interior */
  box-shadow: none; /* Elimina el borde exterior */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

header nav form div.mb-3.input-group input:focus {
  border: none; /* Asegura que no haya borde interior al enfocar */
  box-shadow: none; /* Asegura que no haya borde exterior al enfocar */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

/* Clase personalizada para eliminar el margen inferior sin usar !important */

header nav form div.mb-3.no-margin-bottom.input-group {
  margin-bottom: 0 !important;
}
