@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.2px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

small {
  font-weight: bolder;
}

body {
  background-color: whitesmoke;
  margin-top: 100px;
  overflow-x: hidden;
  font-family: mo;
}

body main {
  display: flex;
  flex-wrap: wrap;
}

body div#root header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background-color: #191916;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav div.navLogo {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

nav div.navLogo img {
  height: 100%;
  width: auto;
  filter: brightness(0) invert(1);
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
  margin: 0;
  margin-right: 2.5rem;
}

nav ul li {
  list-style: none;
  width: fit-content;
  height: 1.5rem;
}

nav ul li .cartIcon {
  height: 1.2rem;
  width: auto;
  cursor: pointer;
}

nav ul li .itemCount {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 15px;
  right: 150px;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  border-radius: 50%;
  padding: 2px 6px;
  text-align: center;
}

nav ul li a:hover {
  color: #3e6ae1;
}

body main .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

body main .card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px;
}

body main .card .card-body .card-title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

body main .card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

body main .card .card-body .btn-primary {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3e6ae1;
  color: white;
  border: none;
  cursor: pointer;
}

body div#root header nav ul li div.dropdown .dropdown-toggle.btn.btn-success {
  background-color: #191916;
  border: none;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
}

body
  div#root
  header
  nav
  ul
  li
  div.dropdown
  .dropdown-toggle.btn.btn-success:hover {
  color: #3e6ae1;
}

.dropdown-menu.show {
  background-color: #191916;
}

div.show.dropdown div.dropdown-menu.show a.dropdown-item {
  color: whitesmoke;
  text-align: center;
}

div.show.dropdown div.dropdown-menu.show a.dropdown-item:hover {
  background-color: #3e6ae1;
}

header nav form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav form div.mb-3.input-group {
  margin-left: 250px;
  width: 600px;
  height: 2rem;
}

header nav form div.mb-3.input-group input {
  height: 100%;
  border: none;
  box-shadow: none;
  outline: none;
}

header nav form div.mb-3.input-group input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

#form-group {
  margin-bottom: 0;
  width: 600px;
}

.carousel-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 0;
  overflow: hidden;
  margin-top: 100px;
}

.carousel-container .carousel {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.mac-greeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 30px auto;
}

.mac-greeting h1 {
  font-size: 3rem;
}

.mac-greeting p {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0px;
}

.carousel-container-mac {
  width: 100%;
}

.mac-family {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.mac-family-cards {
  display: flex;
}

.btn-container {
  display: flex;
  height: 60px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 10px;
}

.btn-container button {
  width: 50%;
}

.mac-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 150 auto;
}

.mac-video {
  text-align: center;
  width: 90vw;
  height: auto;
  margin: 10px auto;
}

.mac-video video {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.item-count {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.item-list {
  display: flex;
}

.detail-description {
  text-align: justify;
  line-height: 2rem;
}

.item-count span {
  margin: 0px 10px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-count .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: fit-content;
}

.item-count .controls button {
  padding: 2.5px 5px;
  background-color: #3e6ae1;
}

.btn.btn-primary.add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3e6ae1;
}

main.item-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
  width: 100%;
}

main.item-container div.list-group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1200px; /* Ajusta este valor según sea necesario */
  margin: 0 auto; /* Centra horizontalmente */
}

main.item-container div.list-group div.card button {
  cursor: pointer;
  img {
    cursor: pointer;
  }
}
main.item-container div.list-group div.card img {
  cursor: pointer;
}

main.item-container div.list-group div.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main.item-container div.list-group div.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .item-detail {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.item-detail-container {
  width: 80%;
  height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  animation: fadeIn 1s ease-in-out;
}
.item-detail-left {
  display: flex;
  justify-content: center;
  width: 50%;
}

main.item-detail
  div.item-detail-container
  div.item-detail-left
  img.item-detail-left-img {
  width: 400px;
  height: auto;
}

.item-detail-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  width: 50%;
  display: flex;
  text-align: center;
}

.not-found {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  margin: 0 auto;
}

.product-not-found {
  width: 100%;
  display: flex;
  font-size: 2.5rem;
  margin: 0 auto;
}

.cart {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  text-align: center;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 1rem auto;
    font-size: 5rem;
  }
  img {
    margin: 2rem;
  }
  h3 {
    margin-top: 1rem;
  }
}

.checkout-button {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #3e6ae1;
  color: white;
  border: none;
  cursor: pointer;
}

.Toastify__toast-container .Toastify__toast .Toastify__close-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
}

.cart-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.cart-info {
  display: flex;
  p {
    margin: 1rem;
    font-size: 1.5rem;
  }
  span {
    margin: 1rem;
    color: red;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

.my-account {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  text-align: center;
  h2 {
    margin-top: 3rem;
    font-size: 5rem;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1600px) {
  main.item-container div.list-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
    margin-bottom: 2.5rem;
  }

  main.item-detail {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa el 100% de la altura del contenedor padre */
    width: 100%;
  }

  .item-detail-container .item-count {
    padding: 0;
    margin: 0 auto;
  }

  .item-detail-container p {
    margin: 5px;
  }

  .item-detail-container small {
    margin: 2px;
  }
  nav ul li .itemCount {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 15px;
    right: 80px;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 50%;
    padding: 2px 6px;
    text-align: center;
  }
}
